.jokes {
  max-width: 60rem;
  width: 90%;
  margin: 1rem 20%;
  display: grid;
  gap: 1rem;
  max-height: 60vh;
  /* animation: meals-appear 1s ease-out; */
}
.overflowY{
  overflow-y: scroll;

  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: blue orange;   /* scroll thumb and track */ 
}
.overflowY::-webkit-scrollbar {
  width: 12px;
}

.overflowY::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.overflowY::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.overflowYHidden{
  overflow-y: hidden;
}
@media only screen and (max-width: 1000px) {
  .jokes {
    max-height: 55vh;
  }
}

@media only screen and (max-width: 635px) {
  .jokes {
    max-height: 50vh;
  }
}

/* @keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */