.jokes {
  max-width: 60rem;
  width: 90%;
  margin: 1rem 20%;
  display: grid;
  gap: 1rem;
  max-height: 60vh;
  /* animation: meals-appear 1s ease-out; */
}
.overflowY{
  overflow-y: scroll;
}

@media only screen and (max-width: 635px) {
  .jokes {
    max-height: 50vh;
  }
}

/* @keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */